  <a id='link_0'></a>

## Содержание
 <a href='#link_1'>1. Задача #1 - Python.</a>
 
 <a href='#link_2'>2. Задача #2 - SQL.</a>
 
 <a href='#link_3'>3. Задача #3 - Python ML.</a>

Задания необходимо оформить в формате ipython-notebook (.ipynb). На code style будет так же обращено внимание.

  <a id='link_1'></a>

### Задача #1 - Python
- На языке python 3 версии и новее и без использования сторонних библиотек напишите функцию, считывающую с пользовательского ввода целое неотрицательное число $n$, а затем выводящую это число в ячейку вместе с преобразованным словом "программист". $ 0 <= n <= 1000$. Например: 0 программистов, 4 программиста, 11 программистов.

In [3]:
def function0(s, d):
    s = str(s)
    r = ''
    if s[-1] == '0': r = d + 'ов'
    if int(s) >= 10 and int(s) <= 20: r = d + 'ов'
    if int(s) > 20 or int(s) < 10:
        if s[-1] == '1': r = d
        if s[-1] in ['2', '3', '4']: r = d + 'а'
        if s[-1] in ['5', '6', '7', '8', '9']: r = d + 'ов'
    return r

In [4]:
function0(input(), d = 'программист')

123

'программиста'

  <a id='link_2'></a>

### Задача #2 - SQL
Даны таблицы:
- DEPARTMENTS, с полями: ID (int, pk), NAME (string)
- STAFF, с полями: ID (int, pk), ID_LEAD (int), ID_DEP (int), NAME (string), SALARY (float).
<br> Таблицы DEPARTMENTS и STAFF связаны с помощью полей DEPARTMENTS.ID и STAFF.ID_DEP

Напишите SQL запрос для решения следующих задач:
- Выведите наименование отдела с наибольшим числом сотрудников
- Выведите ID сотрудников с зарплатой выше, чем у руководителя
- Выведите ID отделов, число сотрудников в которых меньше 3 человек

In [1]:
# Пример таблиц
import pandas as pd
DEPARTMENTS = pd.DataFrame({'ID':[1,2,3,4], 'NAME': ['Отдел разработки','Отдел CRM','Служба безопасности','Риски']})
DEPARTMENTS

   ID                 NAME
0   1     Отдел разработки
1   2            Отдел CRM
2   3  Служба безопасности
3   4                Риски

In [2]:
# Пример таблиц
STAFF = pd.DataFrame({
    'ID':[1,2,3,4, 5], 
    'ID_LEAD': [2,2,3,4,2],
    'ID_DEP': [1,1,3,4,1],
    'NAME': ['ИВАН', 'МАКСИМ', 'АЛЕКСАНДРА', 'МАРИЯ', 'АЛЕНА'],
    'SALARY': [94000.00, 138000.33, 192003.22, 57800, 200000],
})
STAFF

   ID  ID_LEAD  ID_DEP        NAME     SALARY
0   1        2       1        ИВАН   94000.00
1   2        2       1      МАКСИМ  138000.33
2   3        3       3  АЛЕКСАНДРА  192003.22
3   4        4       4       МАРИЯ   57800.00
4   5        2       1       АЛЕНА  200000.00

* Выведите наименование отдела с наибольшим числом сотрудников

In [ ]:
with d as
  (select b.name, count(b.name) cnt from STAFF a
    left join DEPARTMENTS b on a.ID_DEP = b.id
   group by b.name)
select NAME from d
where cnt = (select max(cnt) from d)

* Выведите ID сотрудников с зарплатой выше, чем у руководителя

In [ ]:
select id from STAFF a
    left join (select id d_id, id_lead d_id_lead, salary boss_salary from STAFF
        where id = id_lead) on id_lead = d_id_lead
where salary > boss_salary

- Выведите ID отделов, число сотрудников в которых меньше 3 человек

In [ ]:
select id_dep from 
    (select id_dep, count(id_dep) cnt from STAFF
    group by id_dep)
where cnt < 3

<a id='link_3'></a><div style="text-align: right"> <a href='#link_0'>Содержание</a> </div>

### Задача #3 - Python ML
Постройте модель по оценке вероятности оттока на основе данных ***telecom_churn.csv*** (задача классификации - 2 класса). Оцените качество полученной модели.

In [3]:
import pandas as pd
df = pd.read_csv('telecom_churn.csv', sep = ',')

In [4]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
df['churn'].value_counts()

False    2850
True      483
Name: churn, dtype: int64

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

df['international plan'] = pd.factorize(df['international plan'])[0]
df['voice mail plan'] = pd.factorize(df['voice mail plan'])[0]
df['churn'] = df['churn'].astype('int')
le.fit(df['state'])
states = le.transform(df['state'])
y = df['churn']
df['state'] = states
df.drop(['churn'], axis=1, inplace=True)

In [7]:
df['phone number pref'] = [x.split('-')[0] for x in df['phone number']]
df['phone number numb'] = [x.split('-')[1] for x in df['phone number']]
df.drop(['phone number'], axis=1, inplace=True)

In [44]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.metrics import accuracy_score, roc_auc_score

#normalized_arr = preprocessing.normalize(df.values, axis=0)

scaler = preprocessing.MinMaxScaler()
names = df.columns
d = scaler.fit_transform(df)
normalized_arr = pd.DataFrame(d, columns=names)

X_train, X_holdout, y_train, y_holdout = train_test_split(normalized_arr, y, test_size=0.3, random_state=17, stratify = y)

tree = DecisionTreeRegressor(max_depth=7, random_state=17)
knn = KNeighborsRegressor(n_neighbors=100)

tree.fit(X_train, y_train)
knn.fit(X_train, y_train)

X_holdout 0.8430732002419843
X_holdout 0.8412381528533978

In [51]:
print('DecisionTreeRegressor X_holdout', roc_auc_score(y_holdout, tree.predict(X_holdout)))
print('KNeighborsRegressor X_holdout', roc_auc_score(y_holdout, knn.predict(X_holdout)))

DecisionTreeRegressor X_holdout 0.8430732002419843
KNeighborsRegressor X_holdout 0.8412381528533978

In [52]:
from sklearn.model_selection import GridSearchCV, cross_val_score

tree_params = {'max_depth': range(1,11), 'max_features': range(4,19)}
tree_grid = GridSearchCV(tree, tree_params,cv=5, n_jobs=-1,verbose=True)
tree_grid.fit(X_train, y_train)

#print(tree_grid.best_params_,tree_grid.best_score_)
print('Tree_GridSearch X_holdout', roc_auc_score(y_holdout, tree_grid.predict(X_holdout)))

Fitting 5 folds for each of 150 candidates, totalling 750 fits
Tree_GridSearch X_holdout 0.8657148618673118

In [53]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsRegressor(n_jobs=-1))])
knn_params = {'knn__n_neighbors': range(1, 100)}
knn_grid = GridSearchCV(knn_pipe, knn_params,cv=5, n_jobs=-1,verbose=True)
knn_grid.fit(X_train, y_train)

#print(knn_grid.best_params_, knn_grid.best_score_)
print('KNN_GridSearch X_holdout', roc_auc_score(y_holdout, knn_grid.predict(X_holdout)))

Fitting 5 folds for each of 99 candidates, totalling 495 fits
KNN_GridSearch X_holdout 0.841181689856826

In [49]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
import numpy as np

forest = RandomForestRegressor(n_estimators=100, n_jobs=-1, random_state=17)
#print(np.mean(cross_val_score(forest, X_train, y_train, cv=5)))

forest_params = {'max_depth': range(1,11),'max_features': range(4,19)}
forest_grid = GridSearchCV(forest, forest_params,cv=5, n_jobs=-1,verbose=True)
forest_grid.fit(X_train, y_train)

#print(forest_grid.best_params_, forest_grid.best_score_)
print('RandomForestRegressor X_holdout', roc_auc_score(y_holdout, forest_grid.predict(X_holdout)))

Fitting 5 folds for each of 150 candidates, totalling 750 fits
RandomForestRegressor X_holdout 0.8958903004638032

In [50]:
from catboost import Pool, CatBoostClassifier
from sklearn.metrics import roc_auc_score

random_state = 17

def perform_model(X_train, y_train,X_holdout, y_holdout):    
    model = CatBoostClassifier(
        random_seed = random_state,
        loss_function='Logloss', eval_metric='AUC', learning_rate=0.05,
        iterations= 3000, use_best_model = True, depth=6, border_count = 33000)   
    model.fit(
        X_train, y_train,
        #cat_features = categorical_indices,
        eval_set=(X_holdout, y_holdout),
        verbose=0)   
    return model
    
model=perform_model(X_train, y_train, X_holdout, y_holdout)

print('CatBoostClassifier X_holdout', roc_auc_score(y_holdout, model.predict_proba(X_holdout)[:,1]))

CatBoostClassifier X_holdout 0.902802984472676

In [ ]:
# Лучший результат показал CatBoostClassifier

<div style="text-align: right"> <a href='#link_0'>Содержание</a> </div>