### Задание 1

Задана таблица:

    create table t(a int,b int);

И данные:

    insert into t(a,b) values (2,7);

    insert into t(a,b) values (4,null);

    insert into t(a,b) values (3,6);

    insert into t(a,b) values (null,5);

Вывести результат запроса:

    select (sum(a)+sum(b))*2 - sum((a + b)*2) from t;

1. -36
2. 18
3. 0
4. NULL

In [ ]:
Результат: 18

### Задание 2

Есть две таблицы с данными: одна с данными по отделам, другая с данными по сотрудникам.    

DEPARTMENTS, с полями: 
                    
                    ID (name, pk), 
                    
                    Number (varchar2(100))

EMPLOYEE, с полями: 

                   ID (number, pk), 
                   
                   DEPARTMENT_id (number, fk1), 
                   
                   CHIEF_ID (number, fk2), 
                   
                   NAME (varchar2(100)), 
                   
                   SALARY (number).

Составьте SQL-запрос, который позволит вывести список сотрудников, 
получающих заработную плату в 1,5-2 раза меньше зарплаты непосредственного руководителя, с названиями их отделов.

In [ ]:
Select a.name Employee_name, c.name DEPARTMENT_name from employee a
    left join (select * from employee) b on a.chief_id=b.id
    left join (select * from department) c on a.department_id=c.id
where b.salary/a.salary >=1.5 and b.salary/a.salary <=2

### Задание 3

Под азартностью игрока будем понимать среднее арифметическое взвешенное коэффициентов его ставок, 

где в качестве весов будут выступать суммы ставок. Рассчитайте показатель азартности игрока, совершившего

10 ставок по 10₽ со всеми возможными коэффициентами из диапазона 101-200, кратными 10;

10 ставок по 50₽ со всеми возможными целочисленными коэффициентами из диапазона 11-20;

одну ставку на 400₽ с коэффициентом 2,5;

одну ставку на 1000₽ с коэффициентом 1,8;

одну ставку на 8000₽ с коэффициентом 1,12.

Рассчитайте также средний арифметический и медианный коэффициенты его ставок.

In [ ]:
import numpy as np
v0 = 10*[10*x*10 for x in range(11, 21)]
v1 = 10*[50*x for x in range(11, 21)]
v2 = [400*2.5, 1000*1.8, 8000*1.12]
v = v0+v1+v2
print(np.mean(v))
Результат: 1203.25

v0 = 10*[x*10 for x in range(11, 21)]
v1 = 10*[x for x in range(11, 21)]
v2 = [2.5, 1.8, 1.12]
v = v0+v1+v2
print(np.mean(v), np.median(v))
Результат: 84, 20

### Задание 4

Для проведения новой рассылки по клиентам было отобрано 10 тысяч клиентов. 

Из них выделили случайным образом контрольную группу в 1000 человек. 

Продажи по целевой группе клиентов составили 4% штук, а по контрольной – 3%. 

Была ли рассылка полезной, если каждая продажа приносит 50$ прибыли, 

а стоимость рассылки – 0,5$ за сообщение?

In [10]:
import pandas as pd
table = pd.DataFrame({'Группа':['Целевая','Контрольная'], 
                      'Кол-во клиентов': ['9 000', '1 000'],
                      'Конверсия %': [4, 3],
                      'Кол-во покупателей': [360, 30],
                      'Выручка $': ['360*50$ = 18 000', '30 *50$ = 1 500'],
                      'Стоимость рассылки %': ['9000 *0,5% = 4 500', ''],
                      'Прибыль $': ['13 500', '1 500']
                     })
table

,Группа,Кол-во клиентов,Конверсия %,Кол-во покупателей,Выручка $,Стоимость рассылки %,Прибыль $
0,Целевая,9 000,4,360,360*50$ = 18 000,"9000 *0,5% = 4 500",13 500
1,Контрольная,1 000,3,30,30 *50$ = 1 500,,1 500

In [ ]:
Посчитаем, каким был бы доход без рассылки, ориентируясь на доход от контрольной группы.
13 500 – 1500/1000*9000 = 0

Итого: Рассылка не была полезной (так как дополнительная прибыль пошла на рассылку), 
    ни бесполезной, так как конверсия увеличилась на 1%.